{% extends 'timetableapp/main.html' %}
{% load static %}
{% block content %}


<div class="container-fluid d-flex p-4 min-vh-100 bg-light justify-content-center align-items-center flex-column">
    <h3 id="deleteText">Вы правда хотите удалить группу "{{ delete.class_id }} - {{ delete.class_name }}"?</h3>
        <form method="POST" action="{% url 'delete-class' delete.class_id %}" class="mt-4 d-flex">
            {% csrf_token %}

            <a href="{% url 'class_view' %}" class="btn btn-outline-secondary">
                Отмена
            </a>
            <span style="width: 16px;"></span>
            <input type="submit" value="Удалить" class="btn btn-danger">
    </form>
    </div>


{% endblock %}